<div class="introduction-service">
  <div class="container">
    <div class="">
      <h2><%= t('service.title1') %></h2>
      <div class="row">
        <div class="col-xs-12">
          <p><%= t('service.information1') %></p>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <%= image_tag 'service_01.jpg' %>
          </div>
        </div>
      </div>
      <br>
      <h2><%= t('service.title2') %></h2>
      <div class="row">
        <div class="col-xs-12">
          <p><%= t('service.information3') %></p>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <%= image_tag 'service_02.jpg' %>
          </div>
          <div class="col-xs-3">
            <%= image_tag 'service_03.jpg' %>
          </div>
          <div class="col-xs-3">
            <%= image_tag 'service_04.jpg' %>
          </div>
        </div>
      </div>
      <br>
      <h2><%= t('service.title3') %></h2>
      <div class="row">
        <div class="col-xs-12">
          <p><%= t('service.information3') %></p>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <%= image_tag 'service_05.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>