<!-- Begin Main -->
<div role="main" class="">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="sidebar sidebar-padding">
          <aside class="block blk-cat">
            <ul class="list-unstyled list-cat">
              <li><%= link_to t('service.title1'), group_customization_services_path, class: "#{'active' if current_page?(group_customization_services_path)}" %></li>
              <li><%= link_to t('service.title2'), individual_customization_services_path, class: "#{'active' if current_page?(individual_customization_services_path)}" %></li>
              <li><%= link_to t('service.title3'), oem_odm_services_path, class: "#{'active' if current_page?(oem_odm_services_path)}" %></li>
            </ul>
          </aside>
        </aside>
      </div>
      <div class="col-md-9 introduction-product">
        <div>
          <div class="row">
            <h2 class="col-xs-12"><%= t('service.title3') %></h2>
            <div class="col-xs-12">
              <p><%= t('service.information3') %></p>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag 'service_05.jpg' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- End Main -->
