<div class="introduction-company">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 introduction">
          <div class="col-xs-12 col-sm-8 col-md-5">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <div>
                <h1><%= t('company_introduction.title') %></h1>
                <%= t('company_introduction.information').html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>