
//Core mixins
@import "mixins/_mixins";

//Common
body {
	background-color: #fff;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	line-height: 1.6;
    color: #666;

  &.black{
    background-color: #181818;
  }
}

#page {
	overflow: hidden;
    position: relative;
}
.container>.navbar-header{
  margin: 0;
}

/* top */
#top {
	background: $lighter-black;
	color: $white;
	font-size: .714em;
	text-transform: uppercase;
	p, .nav {
		margin: 0;
	}
	.text-note {
		padding: 18px 0;
	}
}

/* Drop down menu */
.dropdown-menu {
	background: $lighter-black !important;
	border: none;
	border-radius: 0;
	margin: 0;
	> li {
		> a {
			line-height: 1.6;
			padding: 5px 20px 8px;	
			&:hover, &:focus {
				background-color: transparent;
			}
		}
	}
	h3 {
		@include fontdefault-14;
		color: $white;
	}
}

.list-thumbs-pro {
	.product {
		margin-bottom: 0;
		overflow: hidden;
		+ .product {
			border-top: 1px dotted $darker;
			margin-top: 20px;
			padding-top: 20px;
		}
	}
	h4 {
		padding-right: 0;
	}
	.product-thumb-info-image {
		float: left;
		margin-bottom: 0;
	}
	.product-thumb-info-content {
		padding: 3px 20px 0 75px;
	}
	.product-remove {
		float: right;
	}
}

.list-md-pro {
	color: $greyer;
	.product-thumb-info-content h4 {
		margin-bottom: 15px;
		padding-right: 0;
		text-transform: uppercase;
	}
}

.nav-top {
	> li {
		border-right: 1px solid rgba($white, 0.1);
		> a {
			border-radius: 0;
			color: $white;
			padding: 18px 15px;
			.caret {
				color: $grey;
				margin-left: 10px;
			}
			&:hover, &:focus {
				background-color: transparent;
			}
		}
		&:first-child {
			border-left: 1px solid rgba($white, 0.1);
		}
	}
	> .langs > a {
		padding-left: 20px;
	}
	.dropdown-menu {
		background: $darker !important;
	}
	.list-thumbs-pro {
		.product {
			+ .product {
				border-top-color: $greyer;
			}
		}
	}
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: transparent;
}

/* menu-shop */
.menu-shop {
	padding-right: 15px;
	position: relative;
	i {
		font-size: 1.3em;
	}
	.dropdown-menu {
		color: $white;
		min-width: 415px;
		text-transform: none;
		padding: 20px;
		a {
			color: $white;
			&:hover, &:focus {
				@include main-color;
			}
		}
		.item-cat a {
			color: $grey;
			&:hover, &:focus {
				@include main-color;
			}
		}
	} /* end dropdown-menu*/	
}

.cart-buttons {
	padding-top: 20px;
	.btn {
		margin-left: 10px;
	}
}

.cart-subtotals {
	border-top: 1px dotted $greyer;
	@include font-15;
	margin-top: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.shopping-bag {
	@include main-bg;
	border-radius: 50%;
	color: $white;
	display: block;
	font-size: .714em;
	height: 13px;
    line-height: 12px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 10px;
	width: 13px;
}

/* Languages */
.langs .dropdown-menu {
	min-width: 75px;
	> li {
		+ li {
			border-top: 1px solid $dark;
		}
		> a {
			padding-left: 20px;
			padding-right: 15px;
		}
	}
}

/* My Account */
.my-account .dropdown-menu {
	font-size: 1em;
	padding: 10px 0;
	> li > a {
		color: $white;
		&:hover, &:focus {
			@include main-color;
		}
	}
}

/* menu */
.logo {
	display: block;
	float: left;
	margin: 26px 0;
}

.navbar-main {
	background-color: #181818;
	border-radius: 0;
	border: none;
	margin-bottom: 0!important;
	box-shadow: 0 6px 6px -6px rgba($black, 0.5);
    z-index: 5;
	.container {
		position: relative;
	}
}

.navbar-main .navbar-nav {
	> li > a {
		@include main-links;
		font-size: .857em;
		font-weight: 400;
		padding: 32px 20px 33px;
		text-transform: uppercase;
		&:hover, &:focus {
			background-color: transparent;
		}

      //justin
      color: #fff;
	}
	> .active > a,
	> .active > a:hover,
	> .active > a:focus,
	> .open > a,
	> .open > a:hover,
	> .open > a:focus,
	.open .dropdown-menu > .active > a,
	.open .dropdown-menu > .active > a:hover,
	.open .dropdown-menu > .active > a:focus {
		@include main-color;
		background-color: transparent !important;
	}
	
	.open > a:after {
		bottom: 0;
		height: 0;
		border-bottom: 6px solid $lighter-black;
		border-left: 5px solid rgba(0,0,0,0);
		border-right: 5px solid rgba(0,0,0,0);
		content: "";
		left: 50%;
		margin-left: -5px;
		position: absolute;
		width: 0;
	}
	
	.open .dropdown-menu > li > a {
		line-height: 1.6;
		padding: 5px 20px 8px;
	}
	
	.dropdown-menu {
		padding: 10px 0;
		li a {
			color: $white;
			&:hover, &:focus {
				@include main-color;
			}
		}
		> .active > a,
		> .active > a:hover,
		> .active > a:focus {
			background-color: transparent;
			@include main-color;
		}
		.item-cat a {
			color: $grey;
			&:hover, &:focus {
				@include main-color;
			}
		}
	}
}

.dropdown-submenu {
	position: relative;
	> .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -10px;
	}
	> a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 4px 0 4px 4px;
		border-left-color: $dark-grey;
		margin-top: 6px;
		margin-right: -10px;
	}
	&:hover > .dropdown-menu {
		display: block;
	}
	
	&:hover > a:after {
		border-left-color: $white;
	}
}
.navbar-nav > .megamenu {
	.dropdown-menu {
        width: 320px;
		margin: 0 15px;
		padding: 0;
		.sub-menu > li > a {
			display: block;
			padding-bottom: 10px;	
			white-space: nowrap;
		}
	}
	.mega-menu-content {
		padding: 0 25px;
		.menu-column {
			padding: 30px 20px;
			+ .menu-column {
				border-left: 1px solid $darker;
				display: table-cell;
				float: none;
			}
		}
		h3 {
			color: $white;
			font-family: 'Raleway', sans-serif;
		}
		.product-thumb-info-content {
			padding-right: 0;
			p {
				font-family: 'Raleway', sans-serif;
			}
		}
	}
}

/* nav-white */
.navbar-main .nav-white .megamenu.open > a:after {
    border-bottom-color: rgba($black, 0.1);
}

.nav-white > .megamenu {
	.dropdown-menu {
		background: $white;
		li a {
			color: $greyer;
			&:hover, &:focus {
				@include main-color;
			}
		}
	}
	.mega-menu-content {
		.menu-column {
			padding: 30px 20px;
			+ .menu-column {
				border-left-color: rgba($black, 0.1);
			}
		}
		h3 {
			color: $dark;
		}
		.sub-menu > li > a {
			color: $greyer;
			&:hover, &:focus {
				@include main-color;
			}
		}
		.list-thumbs-pro .product + .product {
			border-top-color: rgba($black, 0.1);
		}
	}
}

/* login */
.login-wrapper {
	background: $black;
	color: $white;
	padding: 30px;
	position: absolute;
	overflow: hidden;
	right: 0;
	width: 500px;
	z-index: 3;
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-moz-transition: -moz-transform .2s ease-in-out;
	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	label {
		color: $grey;
		display: block;
	}
	.form-control {
		background: none;
		width: 100%;
	}
	.form-group,
	.list-inline {
		margin-bottom: 30px;
	}
	.list-inline li + li {
		margin-left: 30px;
	}
	h4 {
		@include fontdefault-14;
		color: $white;
	}
	a {
		color: $white;
		&:hover, &:focus {
			@include main-color;
		}
	}
	&.open {
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

/* search */
.form-search {
	position: relative;
	.form-group {
		width: 100%;
	}
	.form-control {
		background: none;
		border-color: $white;
		border-right: none;
		border-width: 2px;
		width: 100%;
	}
	.btn {
		border-left: none;
		margin-left: -2px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.search-wrapper {
	background: $black;
	color: $white;
	padding-top: 10%;
	.close {
		color: $white;
		font-size: 2.571em;
	}
	.modal-content {
		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
}

/* owl carousel */
.owl-theme .owl-controls {
	left: 0;
	margin-top: 0;
	position: absolute;
	width: 100%;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
	background: $dark;
	border-radius: 0;
	color: $white;
	font-size: 1.285em;
	height: 50px;
	line-height: 50px;
	margin: 0;
	filter: alpha(opacity=100);
	opacity: 1;
	padding: 0;
	width: 50px;
	@include transition;

	&:hover, &:focus {
		@include main-bg;
	}
}

/* home slide */
.main-slide .container {
	margin-bottom: 50px;
    margin-top: 50px;
}

.item-caption {
	color: $white;
	text-align: center;
    text-transform: uppercase;
	.item-cat, h2 {
		text-shadow: 1px 3px 5px rgba($black, 0.25);
	}
	.item-cat {
		margin-bottom: 10px;
	}
	h2 {
		color: $white;
		@include title-60;
		letter-spacing: 3px;
		margin-bottom: 40px;
	}
}

.owl-carousel .item {
	position: relative;
	> img {
		display: inline-block;
	}
	.item-caption {
		bottom: 0;
		height: 80%;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 80%;
		.item-cat a {
			color: $white;
			&:hover, &:focus {
				@include main-color;
			}
		}
	}
	.item-caption-inner {
		display: table;
		height: 100%;
		width: 100%;
	}
	.item-caption-wrap {
		display: table-cell;
		vertical-align: middle;
	}
}

.main-demo {
	.item {
		text-align: center;
	}
	.item-caption {
		top: 0;
	}
	.owl-controls {
		margin-top: -25px;
		top: 50%;
	
		.owl-buttons .owl-prev {
			float: left;
		}
		.owl-buttons .owl-next {
			float: right;
		}
	} /* end owl-controls*/
}

.second-demo {
	.item {
		&:after {
			background-color: rgba($black, 0.5);
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
		.item-caption {
			z-index: 2;
		}
	}
}

/*#item1 {
	background-color: #adacaa;
}

#item2 {
	background-color: #d41247;
}

#item3 {
	background-color: #f278a1;
}
*/

/* product slide */
.product-slide {
	padding-top: 100px;
	.owl-controls {
		top: 0;
		.owl-buttons .owl-prev,
		.owl-buttons .owl-next {
			background: none;
			border: 2px solid $dark;
			@include main-links;
			font-size: 2.2em;
			line-height: 45px;
			margin: 0 2px;
			&:hover, &:focus {
				background-color: transparent;
				@include main-border-color;
			}

          //add justin

          color: #333;
		}
	}
}

//add justin
body.black .product-slide{
  .owl-buttons .owl-prev,
  .owl-buttons .owl-next {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
}

/* ad */
.ads {
	background: whitesmoke;
	border-bottom: 1px solid $dark-grey;
	border-top: 1px solid $dark-grey;
	margin-bottom: 50px;
	padding: 50px 0;
}

/* collections */
.collections {
	margin-bottom: 50px;
	.collect-item {
		text-align: center;
	}
	h2 {
		@include font-15;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 25px;
	}
}

.collect-item-thumb {
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	&:after {
		border: 1px solid $white;
		bottom: 5px;
		content: "";
		left: 5px;
		position: absolute;
		right: 5px;
		top: 5px;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
	img {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	&:hover {
		img {
			opacity: .7;
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		&:after {
			-webkit-transform: scale(.55, .50);
			transform: scale(.55, .50);
			filter: alpha(opacity=0);
			opacity: 0;
		}
	}
}

/* top-selling */
.top-selling {
	margin-bottom: 20px;
}

#bg-red {
	background: #d55357;
}

/* quick-view-pro */
.quick-view-pro {
	.container {
		width: 100%;
	}
}

/* lookbook */
.lookbook {
	background: url("/images/bg-wood.jpg") repeat;
    color: $white;
    font-size: .929em;
    margin-bottom: 60px;
    padding: 30px 30px 10px;
	position: relative;
    text-align: center;
	h2 {
		color: $white;
		font-size: 1.714em;
		font-weight: 700;
		margin-bottom: 10px;
		position: relative;
		text-transform: uppercase;
		z-index: 2;
		a {
			color: $white;
			&:hover, &:focus {
				@include main-color;
			}
		}
	}
	&:after {
		border: 3px solid $white;
		bottom: 10px;
		content: "";
		left: 10px;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1;
	}
}

/* parallax */
.pi-parallax {
	background-position: 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('/images/content/slides/bg-parallax.jpg');
	color: $white;
	.item {
		display: table;
		height: 400px;
		blockquote {
			border-left: 0;
			display: table-cell;
			font-size: 2.571em;
			margin: 0;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			footer {
				color: $white;
				font-size: .5em;
				padding: 15px 0 0;
				position: relative;
				
				&:after {
					border-top: 1px solid $white;
					content: "";  
					left: 50%;
					margin-left: -25px;
					position: absolute;
					top: 0;
					width: 50px;
				}
			}
		}
		.intro {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			h2 {
				color: $white;
				@include title-60;
				letter-spacing: 3px;
			}
		}
	}
}

.parallax-shop {
	background-image: url('/images/content/slides/bg-parallax-2.jpg');
	position: relative; 
	&:after {
		background-color: rgba($black, 0.5);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.owl-carousel {
		text-shadow: 1px 3px 5px rgba($black, 0.25);
		z-index: 2;
	}
	p {
		margin-bottom: 40px;
	}
}

/* list-thumbs */
.list-thumbs {
	padding: 50px 0 30px;
	h3 {
		@include title-border;
	}
	.list-thumbs-pro .product + .product {
		border-top-color: rgba($black, 0.1);
	}
}

.product-thumbs-slide {
    padding-top: 0;
	.owl-controls {
		padding: 0 15px;
		text-align: right;
		top: -63px;
		.owl-buttons .owl-prev,
		.owl-buttons .owl-next {
			font-size: 1.714em;
			height: 25px;
			line-height: 25px;
			margin: 0 0 0 10px;
			text-align: center;
			width: 25px;
			* {
				display: block;
    			line-height: 0.8;
			}
		}
	}
}

/* highlights */
.wp-ads {
	list-style: none;
	margin: 50px 0;
	overflow: hidden;
	padding: 0;
	li {
		@include main-bg;
		color: $white;
		display: inline-block;
		float: left;
		overflow: hidden;
		padding: 20px 0 20px 25px;
		width: 20%;
		strong {
			display: block;
		}
		span {
			font-size: .857em;
			filter: alpha(opacity=50);
			opacity: .5;
		}
		.fa {
			float: left;
			font-size: 2.571em;
			margin-right: 10px;
		}
		
		+ li {
			background-color: rgba($primary-color, 0.9);
			+ li {
				background-color: rgba($primary-color, 0.8);
				+ li {
					background-color: rgba($primary-color, 0.7);
					+ li {
						background-color: rgba($primary-color, 0.6);
					}
				}
			}
		}
	}
}

/* latest blog */
.latest-blog {
	padding: 80px 0 60px;
	h3 {
		@include font-15;
		margin-bottom: 15px;
	}
	.post {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

/* wp-404 */
.ico-emotion {
	color: $black;
	font-size: 10em;
	filter: alpha(opacity=10);
	opacity: .1;
	line-height: 1;
}

.page-404 {
	background: #fafafa;
	padding: 70px 0;
	h2 {
		@include title-60;
		font-weight: 700;
	}
}

.form-search2 {
	margin: 30px 0;
	.form-control {
		height: 46px;
	}
	.form-control, .btn {
		border-color: $dark-grey;
	}
	.btn {
		border-width: 1px;
		min-width: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#googlemaps {
	height: 385px;
}

/* page-top */
.page-top {
	@include main-bg;
	color: $white;
	margin-bottom: 60px;
    text-align: center;
	.container {
		display: table;
		height: 100px;
	}
	.page-top-in {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	h2 {
		color: $white;
		font-size: 3.429em;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
		span {
			display: inline-block;
			padding: 11px 31px 11px 35px;
		}
	}
}

.page-top-md {
	@extend .page-top;
	background-color: $dark;
	background-image: url('/images/bg-blog.jpg');
	background-repeat: no-repeat;
	.container {
		height: 202px;
	}
}

.page-top-lg {
	@extend .page-top;
	background-color: $dark;
	background-image: url('/images/bg-contact.jpg');
	background-repeat: no-repeat;
	.container {
		height: 384px;
	}
	h2 {
		span {
			border: 2px solid $white;
		}
	}
}

/* contact-content */	
.contact-content {
	margin-bottom: 60px;
	h3 {
		font-weight: 700;
		text-transform: uppercase;
	}
	h4 {
		@include fontdefault-14;
	}
}

.contact-content-full {
	h4 {
		@include title-border;
	}
}

.contact-intro {
	padding-bottom: 30px;
}

/* sidebar */
.sidebar {
	margin-bottom: 50px;
	.block {
		position: relative;
		+ .block {
			margin-top: 40px;
			padding-top: 40px;
			&:after {
				background: $dark-grey;
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				top: 0;
				width: 30px;
			}
		}
	}
	
}

.block {
	h4 {
		@include fontdefault-14;
	}
	.form-search2 {
		margin: 0;
	}
	
}

/* footer */
.footer {
	background: $lighter-black;
	color: $grey;
	padding: 50px 0 30px;
	h2 {
		color: $white;
		@include font-14;
		text-transform: uppercase;
	}
	li {
		padding: 0 0 3px;
	}
	i {
		color: $greyer;
		padding-right: 5px;
	}
	.list-footlinks {
		margin-left: 0;
		li {
			line-height: 1;
			padding: 0 14px 0 0;
			+ li {
				border-left: 1px solid #444;
				padding-left: 16px;
			}
		}
	}

}

.upper-foot {
	font-size: .928em;
	padding-bottom: 10px;
	a {
		color: $grey;
		&:hover, &:focus {
			@include main-color;
		}
	}
}

.below-foot {
	border-top: 1px solid #383838;
	padding-top: 25px;
	a {
		@include main-color;
		&:hover, &:focus {
			color: $grey;
		}
	}
}

.copyrights {
	font-size: .785em;
}

.social-list { 
	li + li {
		margin-left: 15px;
	}
	a {
		font-size: 1.571em;	
	}
}

/* home 3 */
.navbar-main-narrow {
	box-shadow: none;
	.logo {
		display: inline-block;
		float: none;
		margin: 30px auto;
	}
	.navbar-header {
		border-bottom: 3px solid $darker;
		float: none;
		text-align: center;
	}
	
	.navbar-collapse {
		border-bottom: 1px solid $dark-grey;
		padding-left: 0;
		padding-right: 0;
	}
	
	.navbar-nav {
		> li > a {
			padding: 18px 20px 17px;
		}
		> .megamenu .dropdown-menu {
			margin-top: -1px;
		}
	}
	.navbar-act {
		font-size: .857em;
	}
}
.navbar-act {
	> li > a {
		color: $dark;
	}
}

.navbar-default .navbar-toggle {
	border: none;
	border-radius: 0;
	margin: 36px 0 0;
	padding: 0;
	.icon-bar {
		background-color: $dark;
		width: 20px;
	}
	&:hover, &:focus {
		background-color: transparent;
		.icon-bar {
			@include main-bg;
		}
	}
	
}
	
/* home 4 */
.navbar-main-drop {
	.menu-shop {
		padding-right: 0;
	}
	.navbar-act {
		font-size: .857em;
	}
	.navbar-act > li > a {
		padding-bottom: 33px;
		padding-top: 32px;
	}
	.shopping-bag {
		top: 23px;
	}
	.navbar-header {
		float: none;
		text-align: center;
		.logo {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.navbar-toggle {
		display: block;
		float: left;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	
	.navbar-collapse.in {
		overflow-y: auto;	
	}
	
	.collapse.in {
		display: block !important;	
	}
	.navbar-left, .pull-right {
		float: none !important;
	}
	/* main nav */
	.navbar-collapse {
		background-color: $black;
		min-width: 260px;
		padding-left: 0;
		padding-right: 0;
		position: absolute;
		left: 0;
		top: 85px;
		-moz-transform: translate3d(-100%,0,0);
		-ms-transform: translate3d(-100%,0,0);
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
		-moz-transition: -moz-transform .2s ease-in-out;
		-webkit-transition: -webkit-transform .2s ease-in-out;
		transition: transform .2s ease-in-out;
	
		.navbar-nav > li {
			float: none;
			> a {
				border-top: 1px solid rgba($white, .1);
				color: $white;
				padding-bottom: 10px;
				padding-top: 10px;
				&.dropdown-toggle {
					&:before {
						content: "\f107";
						font-family: 'FontAwesome';
						position: absolute;
						right: 15px;
						top: 11px;
						color: #7e7e7e;
						font-size: 1.5em;
						font-weight: 700;
					}
					&:hover:before, &:focus:before {
						color: $white;
					}
				}

			}
		}
		.dropdown-menu {
			background: none;
			border-top: 1px solid rgba($white, .1);
			box-shadow: none;
			float: none;
			padding: 10px 20px !important;
			position: static;
		}
		
		.dropdown-submenu > .dropdown-menu {
			border-top: none;
			margin-top: 0;
		}
	}
	
	.collapse.in {
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	
	.navbar-nav {
		.open > a:after {
			display: none;
		}
		.dropdown-menu {
			font-family: 'Raleway', sans-serif;
			font-size: .928em;
			.dropdown-menu {
				font-size: 1em;
			}
		}
	}

	.navbar-nav > .megamenu {
		.dropdown-menu {
			margin: 0;
		}
		.mega-menu-content {
			padding: 0 20px;
			.row {
				margin-left: 0;
				margin-right: 0;
			}
			.menu-column {
				display: block;
				float: none;
				padding: 0;
				width: 100%;
				+ .menu-column {
					border-left: none;
					display: block;
					margin-top: 20px;
				}
			}
		}
	}
	
	.dropdown-submenu {
		> a:after {
			display: none;
		}
		> .dropdown-menu {
			display: block;
		}
	}
	
	.navbar-collapse .navbar-nav {
		> li > a {
			&:hover, &:focus {
				@include main-bg;
				color: $white;
			}
		}
		> .active > a,
		> .active > a:hover,
		> .active > a:focus,
		> .open > a,
		> .open > a:hover,
		> .open > a:focus {
			color: $white;
			@include main-bg;
		}
		> .active > a:before {
			color: $white;
		}
	}
	
	/* end main nav */
}

/* about */
.about {
	margin-bottom: 10px;
}

.short-intro {
	margin-bottom: 50px;
	p {
		margin: 0;
		strong {
			font-size: .928em;
			text-transform: uppercase;
		}
	}
	h1 {
		font-size: 4.285em;
		text-transform: uppercase;
	}
	.divider {
		margin-bottom: 20px;
	}
}

/* row-narrow */
.row-narrow {
	margin-left: -5px;
	margin-right: -5px;
	div[class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.cat-description {
	background-color: rgba($black, .8);
	bottom: 0;
	color: $white;
	left: 0;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	h3, a {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transform: translate3d(0,200%,0);
		transform: translate3d(0,200%,0);
	}
	h3 {
		color: $white;
		font-size: 1.714em;
		margin-bottom: 5px;
	}
	a {
		color: rgba($white, .5);
		font-size: .857em;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: underline;
	}
}

.cat-item {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	&:hover .cat-description,
	&:hover h3,
	&:hover a {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

/* partners */
.partners {
	margin-bottom: 60px;
	ul {
		margin-bottom: 0;
		margin-top: 50px;
	}
	li {
		margin: 0 25px;
	}
	img {
		margin: 0 auto;
	}
}

/* pgl-fixed */
.highlight {
	padding-bottom: 35px;
	padding-top: 50px;
}
.main-slide-boxed .container {
	margin-bottom: 0;
}
.pgl-fixed {
	background-color: #f5f5f5;
	#page {
		background-color: $white;
		max-width: 1170px;
		margin: 0 auto;
		box-shadow: 0 0 10px rgba(0,0,0,.1);
	}
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.main-slide-boxed .container {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

//Justin added

.product-tab{
  padding: 80px 0 60px 0;
}

.product-list{
  padding-top: 80px;
}
.flex-control-thumbs{
  margin: 0;
}
.product-show .panel{
  background: none;
}
body.black {
  .panel-group .panel-default > .panel-heading{
    border-top-color: #fff;
  }
  .panel-body{
    color: #aaa;
  }
}