<div role="main" class="main">
  <!-- Begin Main Slide -->
  <section class="main-slide">
    <div id="owl-main-demo" class="owl-carousel main-demo">
      <div class="item" id="item1"><img src="images/content/slides/slider1.jpg" class="img-responsive" alt="Photo">
      </div>
      <div class="item" id="item2"><img src="images/content/slides/slider2.jpg" class="img-responsive" alt="Photo">
      </div>
      <div class="item" id="item3"><img src="images/content/slides/slider3.jpg" class="img-responsive" alt="Photo">
      </div>
    </div>
  </section>
  <!-- End Main Slide -->

  <!-- Begin Ads -->
  <!--  <section class="ads">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 animation">
            <a href="#"><img src="images/content/products/ad-1.png" class="img-responsive" alt="Ad"></a>
          </div>
          <div class="col-xs-4 animation">
            <a href="#"><img src="images/content/products/ad-1.png" class="img-responsive" alt="Ad"></a>
          </div>
          <div class="col-xs-4 animation">
            <a href="#"><img src="images/content/products/ad-1.png" class="img-responsive" alt="Ad"></a>
          </div>
        </div>
      </div>
    </section>-->
  <!-- End Ads -->

  <!-- Begin Latest Blogs -->
  <section class="latest-blog home-introduction">
    <div class="container">
      <h2 class="title"><span><%= t('header.introduction') %></span></h2>

      <div class="row">
        <div class="col-xs-12 col-md-6 animation">
          <article class="post">
            <a href="<%= introductions_company_index_path %>">
            <div class="post-image">
              <span class="post-info-act">
                <p>
                    <span><%= t('company_introduction.title') %></span>
                </p>
              </span>

              <%= image_tag 'cuff_home.jpg', class: "img-responsive" %>
            </div>
            </a>
          </article>
        </div>
        <div class="col-xs-12 col-md-6 animation">
          <article class="post">
            <a href="<%= technology_introductions_product_index_path %>">
            <div class="post-image">
              <span class="post-info-act">
                <p>
                  <span><%= t('product_introduction.title') %></span>
                </p>
              </span>
              <%= image_tag 'tie_home.jpg', class: "img-responsive" %>
            </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- End Latest Blogs -->

  <!-- Begin Parallax -->
  <section class="pi-parallax hidden-xs" data-stellar-background-ratio="0.6">
    <div class="container">
      <div id="owl-text-slide" class="owl-carousel">
        <div class="item">
          <blockquote>
            <p><%= t('info1') %></p>
            <footer><cite>LANUVIO</cite></footer>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p><%= t('info2') %></p>
            <footer><cite>LANUVIO</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <!-- End Parallax -->

  <!-- Begin New Products -->
  <section class="product-tab">
    <div class="container">
      <h2 class="title"><span><%= t('header.product') %></span></h2>
      <!-- Nav tabs -->
      <!--<ul class="nav nav-tabs pro-tabs text-center animation" role="tablist">
        <li class="active"><a href="#man" role="tab" data-toggle="tab">Clothes</a></li>
        <li><a href="#accesories" role="tab" data-toggle="tab">Accesories</a></li>
      </ul>-->

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="row">
          <div class="col-xs-12 animation">
            <div class="product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
                  <a href="<%= product_category_products_url(1) %>">
                    <%= image_tag 'product_overview_top.jpg', class: 'img-responsive' %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(1) %>">
                      <%= image_tag 'product_classical_02.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(1) %>">
                      <%= image_tag 'product_classical_03.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(1) %>">
                      <%= image_tag 'product_classical_04.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(2) %>">
                      <%= image_tag 'product_fashion_02.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
            <div class="product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
                  <a href="<%= product_category_products_url(2) %>">
                    <%= image_tag 'product_fashion_03.jpg', class: 'img-responsive' %>
                  </a>
                </div>
              </div>
            </div>
          </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(2) %>">
                      <%= image_tag 'product_fashion_04.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(3) %>">
                      <%= image_tag 'product_leisure_02.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <a href="<%= product_category_products_url(3) %>">
                      <%= image_tag 'product_leisure_03.jpg', class: 'img-responsive' %>
                    </a>
                  </div>
                </div>
              </div>
            </div>-->

        </div>
      </div>

    </div>
  </section>
  <!-- End New Products -->
</div>
