<div class="container">
  <div class="contact-us">
    <h1><span><%= t('contact_us.title') %></span></h1>

    <div>
      <!--引用百度地图API-->
      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=232FMZtcONtLNXnhASK59WZU"></script>
      <!--百度地图容器-->
      <div style="width:100%;height:300px;border:#ccc solid 1px;font-size:12px" id="map"></div>
      <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap(){
          createMap();//创建地图
          setMapEvent();//设置地图事件
          addMapControl();//向地图添加控件
          addMapOverlay();//向地图添加覆盖物
        }
        function createMap(){
          map = new BMap.Map("map");
          map.centerAndZoom(new BMap.Point(121.439468,31.25749),17);
        }
        function setMapEvent(){
          map.enableKeyboard();
          map.enableDragging();
          map.enableDoubleClickZoom();
          map.disableScrollWheelZoom();
        }
        function addClickHandler(target,window){
          target.addEventListener("click",function(){
            target.openInfoWindow(window);
          });
        }
        function addMapOverlay(){
          var markers = [
            {content:"上海市普陀区光新路88号1705-1706室",title:"澜维奥",imageOffset: {width:-46,height:-21},position:{lat:31.25756,lng:121.439248}}
          ];
          for(var index = 0; index < markers.length; index++ ){
            var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
            var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
              imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
            })});
            var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
            var opts = {
              width: 200,
              title: markers[index].title,
              enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
            marker.setLabel(label);
            addClickHandler(marker,infoWindow);
            map.addOverlay(marker);
          };
        }
        //向地图添加控件
        function addMapControl(){
          var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
          scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
          map.addControl(scaleControl);
          var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
          map.addControl(navControl);
          var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
          map.addControl(overviewControl);
        }
        var map;
        initMap();
      </script>
    </div>
    <Br>
    <p><%= t('contact_us.tel') %>：021-32551608</p>
    <p><%= t('contact_us.fax') %>：021-32551628</p>
    <p><%= t('contact_us.address') %>：上海市普陀区光新路88号1705-1706室</p>
  </div>

</div>
