<div class="sale_network">
  <div class="container">
    <div class="clearfix">
      <div class="">
        <div class="col-xs-12">
          <h1><%= t('sale_network.title') %></h1>
          <p><%= t('sale_network.information1') %></p>
          <p><%= t('sale_network.information2') %></p>
          <div>
            <%= image_tag 'sale_network.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
