<div class="store-image">
  <div class="container">
    <div class="clearfix">
      <div class="">
        <div class="col-xs-12"><h1><%= t('store_image.title') %></h1></div>
        <div class="col-xs-12"><p><%= t('sale_network.information2') %></p></div>
        <div class="image  row">
          <div class="col-xs-12 col-md-6">
            <%= image_tag 'store_image_01.jpg' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag 'store_image_02.jpg' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag 'store_image_03.jpg' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag 'store_image_04.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>