$primary-color: #1abc9c;
h2{
  font-size: 36px;
}
.introduction{
  min-height: 600px;

  @media (max-width: 768px) {
    min-height: 700px;
  }
  > div{
    position: absolute!important;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 20px;
    height: 100%;
    right: 0;
    line-height: 2.5;

    > div{
      display: table;
      height: 100%;

      > div{
        display: table-cell;
        vertical-align: middle;
      }
    }

    h1, h2{
      color: #fff !important;
      margin: 0 0 10px 0;

      @media (max-width: 768px) {
        font-size: 24px;
      }

    }
    p{
      margin-bottom: 10px;
    }
  }
}
.introduction-company{
  background-image: asset_url('company_01.jpg');
  background-size: cover;
}
.introduction-product, .introduction-service, .sale_network, .store-image{
  img{
    max-width: 100%;
  }

  > div, .container{
    > div{
      //background: rgba(255,255,255,0.9);
      color: #fff;
      margin-top: 20px;
      padding: 20px;

      h1, h2{
        color: #fff !important;
        margin: 0 0 10px 0;

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }

      h2{
        margin-bottom: 0;
      }
      p{
        margin: 20px 0;
        font-size: 14px;
      }

      .col-xs-12{
        padding: 0;
      }
    }
  }
}

// location select and map

.location-map {
  position: relative;
  select{
    border-radius: 0;
    padding: 5px;
    font-size: 15px;
  }
  .location-map-select {
    text-align: center;
    position: absolute;
    top: 50px;
    z-index: 10;

    @media (min-width:768px ){
      top: 50px;
      right: 50px;
    }

    .location-select {
      width: 80%;
      border-color: #444;

      @media (min-width:768px ) {
        width: 100%;
      }

    }
  }

  .BMap_shadow{
    display: none;
  }
}

// join us

.join_us{
  background-image: asset_url('join_us.jpg');
  background-size: cover;
  background-position: left;


  position: relative;
  @media (max-width: 768px) {
    background-position: center;
  }
}

//contact us

.contact-us{
  text-align: center;
  margin: 20px 0;

  h1 span{
    line-height: 1.5;
    display: inline-block;
    border-top: 2px solid #fff;
    border-bottom: 1px solid #fff;
  }

  > p{
    margin-bottom: 0;
    color: #fff;
  }
}

.store-image{

  > div{
    margin-top: 0;

    img{
      max-width: 100%;
    }

    div.image > .col-xs-12{
      padding: 15px;
    }
  }

}

//product overview


  .sidebar{
    li a{
      font-size: 18px;
    }
  }


//footer

.footer i.fa{
  &:hover{
    color: #fff;
  }
}

//nav border

header .navbar-main{
  border-bottom: 1px solid #aaa;

  .navbar-nav > li > a{
    font-size: 0.975em;
  }

  .navbar-nav > li.active > a{
    color: $primary-color;
  }
}


.product-list.product-overview{
  border-bottom: 0;
  padding-top: 40px;
}

.sidebar li a.active{
  color: $primary-color;
}

blockquote p:before, blockquote p:after{
  content: none!important;
}

.pi-parallax .item blockquote{
  font-size: 20px!important;
}
.latest-blog.home-introduction{
  .post-info-act{
    margin-left: 0px;
    margin-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .post-info-act p{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    border: 0;
    border-radius: 0;
  }

  .post-info-act p > span {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
  }

  .post-image{
    img{
      width: 100%;
    }
  }

  @media (max-width: 767px){
    padding: 40px 0;
  }
}

.pi-parallax{
  background-image: asset_url('home_summary_bg.jpg') !important;
}
.pi-parallax .item{
  height: 300px;
}

.product-tab{
  @media (max-width: 767px){
    padding: 0 !important;
  }
}

.sidebar-padding{
  padding-top: 20px;

  margin-bottom: 0!important;
}
