<!-- Begin Main -->
<div role="main" class="product-list product-overview">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="sidebar">
          <aside class="block blk-cat">
            <ul class="list-unstyled list-cat">
              <% @categories.each do |category| %>
                <li><%= link_to category.name, product_category_products_url(category), class: "#{'active' if category.id == params[:product_category_id].to_i}" %></li>
              <% end %>
            </ul>
          </aside>
        </aside>
      </div>
      <div class="col-md-9">

        <!--<section id="lookbook">
          <div class="lookbook">
            <h2><a href="#">LANUVIO</a></h2>
            <p><%#= t('product_introduction.information2') %></p>
          </div>
        </section>-->
        <div class="catalog">
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-xs-12 col-sm-6 col-md-4 animation">
                <div class="product">
                  <div class="product-thumb-info">
                    <div class="product-thumb-info-image">
                      <%= image_tag product.image.url(:thumbnail), class: 'img-responsive' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="col-xs-12 animation">
              <div class="product">
                <div class="product-thumb-info">
                  <div class="product-thumb-info-image">
                    <% if params[:product_category_id] == '1'%>
                      <%= image_tag 'product_classical_01.jpg', class: 'img-responsive' %>
                    <% elsif params[:product_category_id] == '2'%>
                      <%= image_tag 'product_leisure_01.jpg', class: 'img-responsive' %>
                    <% elsif params[:product_category_id] == '3'%>
                      <%= image_tag 'product_fashion_01.jpg', class: 'img-responsive' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Main -->
