<!-- Begin Main -->
<div role="main" class="product-show">

  <!-- Begin page top -->
  <section class="page-top">
    <div class="container">
      <div class="page-top-in">
        <ol class="breadcrumb pull-left">
          <li><a href="#">产品目录</a></li>
          <li class="active">衬衫</li>
        </ol>
        <!--<ul class="pager pull-right">
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>-->
      </div>
    </div>
  </section>
  <!-- End page top -->

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="product-preview">
          <div class="flexslider">
            <ul class="slides">
              <li data-thumb="<%= asset_url('product_1.jpg') %>">
                <%= image_tag 'product_1.jpg' %>
              </li>
              <li data-thumb="<%= asset_url('product_12.jpg') %>">
                <%= image_tag 'product_12.jpg' %>
              </li>
              <li data-thumb="<%= asset_url('product_13.jpg') %>">
                <%= image_tag 'product_13.jpg' %>
              </li>
              <li data-thumb="<%= asset_url('product_14.jpg') %>">
                <%= image_tag 'product_14.jpg' %>
              </li>
              <li data-thumb="<%= asset_url('product_15.jpg') %>">
                <%= image_tag 'product_15.jpg' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="summary entry-summary">

          <h3>衬衫</h3>

          <p class="price">
            <span class="amount">$29.99</span>
          </p>


          <ul class="list-unstyled product-meta">
            <li>编号: 54329843</li>
            <li>尺寸: S M L XL</li>
            <li>颜色: 黑 白 蓝 灰</li>
            <li>材质: 纯棉</li>
          </ul>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <span>产品描述</span> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>LANUVIO/澜维奥衬衫采用原版高级英法意系正装，注重优雅的贴身剪裁，收集中国体型数据后分析数据，修改原版，然后试制样衣试穿，最终确定尺码改型后才批量生产上市。并根据市场反馈信息做了进一步的改进。</p>
                  <p>LANUVIO/澜维奥主打衬衫采用精选丝光面料，配以光泽动人的海产珠光贝壳扣及名牌辅料，品质超过市场数千元价格的产品，是尊贵者的首选。</p>
                  <p>好衬衫的剪裁非常讲究贴身曲线和合身度，针对不同体型需要有专门的裁剪版型。每一处工艺细节都关乎寿命、舒适美观或是源于欧洲传统，是顶级衬衫的基本门槛。对上层人士来说，衣着的工艺细节，足可以透露出你的实力和背景。</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Begin Related Products -->
  <section class="products-slide">
    <div class="container">
      <h2 class="title"><span>为您推荐</span></h2>
      <div class="row">
        <div id="owl-product-slide" class="owl-carousel product-slide">
          <div class="col-md-12">
            <div class="item product">
              <div class="product-thumb-info">

                <div class="product-thumb-info-image">
				    <span class="product-thumb-info-act">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".quickview-wrapper" class="view-product">
                          <span><i class="fa fa-external-link"></i></span>
                        </a>
                    </span>
                  <%= image_tag 'product_16.jpg', class: 'img-responsive' %>
                </div>

                <div class="product-thumb-info-content">
                  <span class="price pull-right">29.99 USD</span>
                  <h4><a href="shop-product-detail2.html">Denim shirt</a></h4>
                  <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="item product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
				    <span class="product-thumb-info-act">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".quickview-wrapper" class="view-product">
                          <span><i class="fa fa-external-link"></i></span>
                        </a>
                    </span>
                  <%= image_tag 'product_17.jpg', class: 'img-responsive' %>
                </div>
                <div class="product-thumb-info-content">
                  <span class="price pull-right">25.99 USD</span>
                  <h4><a href="shop-product-detail2.html">Poplin shirt with fine pleated bands</a></h4>
                  <span class="item-cat"><small><a href="#">Shirts</a></small></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="item product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
				    <span class="product-thumb-info-act">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".quickview-wrapper" class="view-product">
                          <span><i class="fa fa-external-link"></i></span>
                        </a>
                    </span>
                  <%= image_tag 'product_18.jpg', class: 'img-responsive' %>
                </div>
                <div class="product-thumb-info-content">
                  <span class="price pull-right">25.99 USD</span>
                  <h4><a href="shop-product-detail2.html">Contrasting shirt</a></h4>
                  <span class="item-cat"><small><a href="#">Stock clearance</a></small></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="item product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
				    <span class="product-thumb-info-act">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".quickview-wrapper" class="view-product">
                          <span><i class="fa fa-external-link"></i></span>
                        </a>
                    </span>
                  <%= image_tag 'product_14.jpg', class: 'img-responsive' %>
                </div>
                <div class="product-thumb-info-content">
                  <span class="price pull-right">59.99 USD</span>
                  <h4><a href="shop-product-detail2.html">Waistcoat with top stitching</a></h4>
                  <span class="item-cat"><small><a href="#">Blazers</a></small></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="item product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
				    <span class="product-thumb-info-act">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".quickview-wrapper" class="view-product">
                          <span><i class="fa fa-external-link"></i></span>
                        </a>
                    </span>
                  <%= image_tag 'product_2.jpg', class: 'img-responsive' %>
                </div>
                <div class="product-thumb-info-content">
                  <span class="price pull-right">39.99 USD</span>
                  <h4><a href="shop-product-detail2.html">Loose fit ripped jeans</a></h4>
                  <span class="item-cat"><small><a href="#">Jeans</a></small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Top Selling -->

</div>
<!-- End Main -->