<!-- Begin Main -->
<div role="main" class="">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="sidebar sidebar-padding">
          <aside class="block blk-cat">
            <ul class="list-unstyled list-cat">
              <li><%= link_to t('product_introduction.title1'), technology_introductions_product_index_path, class: "#{'active' if current_page?(technology_introductions_product_index_path)}" %></li>
              <li><%= link_to t('product_introduction.title2'), fabric_introductions_product_index_path, class: "#{'active' if current_page?(fabric_introductions_product_index_path)}" %></li>
            </ul>
          </aside>
        </aside>
      </div>
      <div class="col-md-9 introduction-product">
        <div>
          <div class="row">
            <h2 class="col-xs-12"><%= t('product_introduction.title2') %></h2>
            <div class="col-xs-12">
              <p><%= t('product_introduction.information3') %></p>
            </div>
            <div class="">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag 'introduction_product_09.jpg' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag 'introduction_product_10.jpg' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag 'introduction_product_11.jpg' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag 'introduction_product_12.jpg' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- End Main -->
