<div class="introduction-product">
    <div class="container">
      <div class="">
        <h2><%= t('product_introduction.title1') %></h2>
        <div class="row">
          <div class="col-xs-12">
            <p><%= t('product_introduction.information1') %></p>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_01.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_02.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_03.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_04.jpg' %>
            </div>
          </div>
          <div class="col-xs-12">
            <p><%= t('product_introduction.information2') %></p>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_05.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_06.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_07.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_08.jpg' %>
            </div>
          </div>
        </div>
        <br>
        <h2><%= t('product_introduction.title2') %></h2>
        <div class="row">
          <div class="col-xs-12">
            <p><%= t('product_introduction.information3') %></p>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_09.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_10.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_11.jpg' %>
            </div>
            <div class="col-xs-3">
              <%= image_tag 'introduction_product_12.jpg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>