<!-- Begin Main -->
<div role="main" class="">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="sidebar sidebar-padding">
          <aside class="block blk-cat">
            <ul class="list-unstyled list-cat">
                <li><%= link_to t('product_introduction.title1'), technology_introductions_product_index_path, class: "#{'active' if current_page?(technology_introductions_product_index_path)}" %></li>
                <li><%= link_to t('product_introduction.title2'), fabric_introductions_product_index_path, class: "#{'active' if current_page?(fabric_introductions_product_index_path)}" %></li>
            </ul>
          </aside>
        </aside>
      </div>
      <div class="col-md-9 introduction-product">
        <div>
        <div class="row">
          <h2 class="col-xs-12"><%= t('product_introduction.title1') %></h2>
          <div class="col-xs-12">
            <p><%= t('product_introduction.information1') %></p>
          </div>
          <div class="">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_01.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_02.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_03.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_04.jpg' %>
            </div>
          </div>
          <div class="col-xs-12">
            <p><%= t('product_introduction.information2') %></p>
          </div>
          <div class="">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_05.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_06.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_07.jpg' %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag 'introduction_product_08.jpg' %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- End Main -->
