<!--
location-map: map / select lis
-->
<div class="container">
  <div class="row">
    <!--<div class="col-xs-12">
      <%#= image_tag 'store_cover.jpg' %>
    </div>-->
    <div class="location-map">
        <div class="col-md-3 location-map-select">
          <select name ="location" class="location-select">
            <option value="false">选择城市</option>
            <% @cities.each do |city| %>
                <option value="city_<%= city.id %>"><%= city.name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-12"><div id="allmap" style="height:600px"></div></div>

    </div>
    <!-- /#main-content -->
  </div>
</div>
<!--baidu map-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=232FMZtcONtLNXnhASK59WZU"></script>
<!-- location script -->
<script type="text/javascript">
    var cities = {};
    <% @cities.each do |city| %>
    var value = [];
    <% city.locations.each do |location| %>
    value.push(['<%= location.latitude %>','<%= location.longitude %>','<%= location.location_name %>' + '<br>' + '<%= location.location_add %>']);
    <% end %>
    cities['city_<%= city.id %>'] = value;
    <% end %>

    var map = null;
    //var myIcon = new BMap.Icon('<%#= asset_url("locations-buy-now/desktop-buy-now_map_wmf_logo.png") %>', new BMap.Size(60,58));

    function createPoint(value) {
        map.clearOverlays();
        var opts={
            width:250//信息窗口宽度height:100,//信息窗口高度
            //title:"他（她）的位置信息是："//信息窗口标题
        };

        var points = [];
        $.each(cities[value],function(index,value){
            var point = new BMap.Point(parseFloat(value[0]),parseFloat(value[1]));

            points.push(point);
            var marker = new BMap.Marker(point);

            map.addOverlay(marker);

            var infoWindow=new BMap.InfoWindow(value[2],opts);

            marker.addEventListener("click",function(){
                map.openInfoWindow(infoWindow,point);//打开信息窗口
            });
        });

        map.centerAndZoom(points[parseInt(points.length/2)], 16);
        map.setViewport(points);

    }

    $(document).ready(function(){
        map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(106.806234,36.651637),5);
        map.disableScrollWheelZoom();
        map.addControl(new BMap.NavigationControl());
        console.log(1)
        $(".location-select").change(function(){
            if ($(this).val() != "false"){
                createPoint($(this).val());
            }
        });

    })

</script>