<footer class="footer">
  <div class="container">
<!--    <div class="upper-foot">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h2><#%= t('contact') %></h2>
          <address>
            <i class="fa fa-map-marker"></i><%#= t('address') %><br>
            <i class="fa fa-phone"></i> 021-32551608<br>
            <i class="fa fa-fax"></i>021-32551628<br>
          </address>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="logo" href="<%#= root_path %>"><%#= image_tag 'logo_white.png', style:'height:33px;' %></a>
        </div>
        &lt;!&ndash;<div class="col-xs-12 col-sm-4">
          <h2>Useful links</h2>
          <ul class="list-unstyled">
            <li><a href="#">Track Orders</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Free Credit Report</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Community Guidelines</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>Don’t miss out</h2>
          <p>In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque.</p>
          <form class="form-inline form-newsletter" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email here">
            </div>
            <button type="submit" class="btn"><i class="fa fa-caret-right"></i></button>
          </form>
        </div>&ndash;&gt;
      </div>
    </div>-->
    <div class="below-foot">
      <div class="row">
        <div class="col-xs-6 copyrights">
          <p>Copyright © 2015 Laiweiao<br>
            All rights reserved.</p>
        </div>
        <div class="col-xs-6 text-right">
          <ul class="list-inline social-list">
            <li><a class="jiathis_button_weixin" title="wechat" href="javascript:;" target="_blank"><i class="fa fa-wechat"></i></a></li>
            <li><a class="jiathis_button_tsina" title="weibo" href="javascript:;" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li><a class="jiathis_button_renren" title="renren" href="javascript:;" target="_blank"><i class="fa fa-renren"></i></a></li>
            <li><a class="jiathis_button_fb" title="Facebook" href="javascript:;" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="jiathis_button_twitter" title="Twitter" href="javascript:;" target="_blank"><i class="fa fa-twitter"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--include social share js-->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1410333261952403" charset="utf-8"></script>
<!--include social share js end-->