<header>
  <nav class="navbar navbar-default navbar-main navbar-main-slide" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="logo" href="<%= root_path %>"><%= image_tag 'logo_chinese_white.png', style:'height:33px;' %></a>
      </div>
      <ul class="nav navbar-nav navbar-act pull-right">
        <!--<li class="login"><a href="javascript:void(0);"><i class="fa fa-user"></i></a></li>-->
        <!--<li class="search"><a href="javascript:void(0);" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-search"></i></a></li>-->

      </ul>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="<% if current_page?(root_path) %>active<% end %>"><a href="<%= root_path %>"><%= t('home') %></a></li>
          <li class="dropdown <% if params[:controller] == "products" %>active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('header.product') %></a>
            <ul class="dropdown-menu">
              <% @categories.each do |category| %>
                <li><%= link_to category.name, product_category_products_url(category) %></li>
              <% end %>
            </ul>
          <!--            <div class="dropdown-menu">
              <div class="mega-menu-content">
                <div class="row">
                  <div class="col-md-6 menu-column">
                    <h3><%#= t('category') %></h3>
                    <ul class="list-unstyled sub-menu">
                      <li><a href="#">衬衫</a></li>
                      <li><a href="#">西装</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6 menu-column">
                    <h3><%#= t('accessories') %></h3>
                    <ul class="list-unstyled sub-menu">
                      <li><a href="#">领带</a></li>
                      <li><a href="#">袖口</a></li>
                      <li><a href="#">皮带</a></li>
                      <li><a href="#">皮鞋</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>-->
          </li>
          <li class="dropdown <% if current_page?(introductions_company_index_path) || current_page?(technology_introductions_product_index_path) || current_page?(fabric_introductions_product_index_path) %>active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('header.introduction') %></a>
            <ul class="dropdown-menu">
              <li><a href="<%= introductions_company_index_path %>"><%= t('company_introduction.title') %></a></li>
              <li><a href="<%= technology_introductions_product_index_path %>"><%= t('product_introduction.title') %></a></li>
            </ul>
          </li>
          <li class="dropdown <% if params[:controller] == "sale_sites" %>active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('contact') %></a>
            <ul class="dropdown-menu">
              <li><a href="<%= stores_sale_sites_path %>"><%= t('store_image.title') %></a></li>
              <li><a href="<%= sale_network_sale_sites_path %>"><%= t('sale_network.title') %></a></li>
              <li><a href="<%= contact_us_sale_sites_path %>"><%= t('contact') %></a></li>
            </ul>
          </li>
          <li class="dropdown <% if params[:controller] == "services" || current_page?(join_us_path) %>active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('header.service_cooperate') %></a>
            <ul class="dropdown-menu">
              <li><a href="<%= group_customization_services_path %>"><%= t('service.title') %></a></li>
              <li><a href="<%= join_us_path %>"><%= t('header.join_us') %></a></li>
            </ul>
          </li>
          <li>
            <% I18n.available_locales.each do |locale| %>
              <%= content_tag(:li, link_to(language_name(locale), {locale: locale}, {data: {no_turbolink: true}})) unless locale == I18n.locale %>
            <% end %>
          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</header>

<!-- Begin Search -->
<!--<div class="modal fade bs-example-modal-lg search-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p class="clearfix"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></p>
      <form class="form-inline form-search" role="form">
        <div class="form-group">
          <label class="sr-only" for="textsearch">Enter text search</label>
          <input type="text" class="form-control input-lg" id="textsearch" placeholder="Enter text search">
        </div>
        <button type="submit" class="btn btn-white">Search</button>
      </form>
    </div>
  </div>
</div>-->
<!-- End Search -->