<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="laiweiao,lanuvio,澜维奥,好衬衫,好面料，源于意大利" />
  <meta name="description" content="laiweiao lanuvio 澜维奥">
  <meta name="author" content="Justin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>澜维奥</title>
  <%= stylesheet_link_tag    'application', media: nil %>
  <%= javascript_include_tag 'application' %>

  <!--[if lt IE 9]>
  <script src="/javascripts/html5shiv.js" type="text/javascript"></script>
  <script src="/javascripts/respond.min.js" type="text/javascript"></script>
  <![endif]-->
  <%= csrf_meta_tags %>


</head>
<body class="black">
  <div>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
